html body {
  text-align: center;
  background-color: #95A664;
  font-family: 'Open Sans', sans-serif;
  color: #1A1928;
}

.top {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.title-image {
  display: inline-block;
  padding-right: 12px;
}

.title-image img {
  max-height: 100px;
  height: 100px;
}

.page-title {
  font-family: 'Patua One', cursive;
  font-size: 65px;
  display: inline-block;
  vertical-align: bottom;
}

.sub-title {
  font-size: 24px;
  color: #f5fce0;
  margin-bottom: 10px;
}

.inner-container {
  padding: 0 10px;
}

.tabs {
  text-align: left;
  display: block;
}

.tab-item {
  cursor: pointer;
}

.tabs ul {
  padding: 0;
  list-style-type: none;
}

.tabs ul li {
  padding: 10px 8px 5px;
  color: white;
  background: #DFE1D0;
  font-size: 20px;
  float: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: none;
  margin-right: 5px;
  text-decoration: none;
}

.tab-link {
  text-decoration: none;
  color: #1A1928;
}

.tab-link:hover {
  text-decoration: none;
  color: #a2bc55;
}

.tabs ul li.active {
  background: white;
}

.tabs ul li.active a {
  text-decoration: none;
  color: #a2bc55;
}

.main {
  text-align: left;
  display: inline-block;
  width: 100%;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 20px;
}

.visible-section {
  padding-top: 0;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 25px;
}

#map-list {
  display: none;
}

#about-page {
  display: none;
  font-size: 16px;
}

.month-group h3 {
  font-weight: bold;
  color: #a2bc55;
  padding-left: 20px;
}

.sub-heading {
  color: #ef8903;
  font-size: 36px;
  margin-bottom: 30px;
}

.festival-list li {
  cursor: pointer;
}

.festival-name {
  display: inline-block;
  font-family: 'Patua One', cursive;
  font-size: 26px;
}

.entry {
  font-size: 16px;
  margin-left: 60px;
}

.single-event {
  margin-top: 10px;
  font-size: 16px;
}

.event-url {
  margin-top: 5px;
}

.item {
  margin-top: 11px;
}

ul {
  list-style: none;
}

.downIcon {
  display: inline-block;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: top;
  background: #ef8903;
  margin: 2px 10px;
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.mapInfo {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.faq {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}

.quote {
  margin: 25px 40px 0;
  color: #819643;
  font-size: 24px;
  font-family: 'Patua One', cursive;
  text-align: center;
}

.author {
  text-align: right;
  color: #819643;
  font-style: italic;
  margin-bottom: 40px;
  padding-right: 60px;
}

/* media queries */

@media (max-width:632px) {
  .page-title {
    font-size: 34px;
    display: block;
  }

  .title-image img {
    opacity: 0.75;
    z-index: -1;
    padding-right: 35px;
    max-height: 130px;
    height: 130px;
  }

  .sub-title {
    font-size: 16px;
  }

  .inner-container {
    padding: 0 5px;
  }

  .tabs ul li {
    padding: 6px 5px 3px;
    font-size: 16px;
    margin-right: 2px;
  }

  .visible-section {
    padding: 0 10px 12px;
  }

  #about-page {
    display: none;
    font-size: 12px;
  }

  .month-group h3 {
    padding-left: 0;
  }

  .month-group ul {
    padding-left: 0;
  }

  .sub-heading {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .festival-name {
    font-size: 16px;
    word-wrap: break-word;
  }

  .entry {
    font-size: 12px;
  }

  .single-event {
    margin-top: 5px;
    font-size: 12px;
  }

  .event-url {
    margin-top: 5px;
  }

  .item {
    margin-top: 11px;
  }

  ul {
    list-style: none;
  }

  .entry {
    margin-left: 20px;
  }

  .downIcon {
    font-size: 16px;
    color: white;
    width: 20px;
    height: 20px;
    margin: 2px 4px;
  }

  .author {
    padding-right: 20px;
  }

  .faq {
    font-size: 16px;
  }
}
